<div id="jump-in" class="fixed z-10 w-full h-full pointer-events-none">
  <div class="w-[3840px] h-[2160px]">
    <div
      class="absolute bottom-[17%] w-full flex gap-[0.35%] items-end justify-center"
    >
      <p class="text-[150%] font-bold -mb-2.5">Jump in!</p>
      <img
        src="/arrow.svg"
        alt="An arrow pointing at a button"
        draggable={false}
      />
    </div>
  </div>
</div>
