<div
  id="jump-in"
  class="fixed z-10 bottom-[22vh] max-[2000px]:mb-[4vh]-- -mb-[calc(4vw_-_40px)] flex justify-center w-full items-end gap-2 select-none"
>
  <p class="text-2xl font-bold -mb-2.5">Jump in!</p>
  <img src="/arrow.svg" alt="An arrow pointing at a button" draggable={false} />
</div>
