<div id="socials" class="fixed top-8 right-8 flex gap-4 z-10">
  <a
    href="https://twitter.com/feelingnounish"
    target="_blank"
    rel="noopener noreferrer"
    draggable={false}
    class="select-none"
  >
    <img
      src="/socials/twitter.svg"
      alt="I'm feeling Nounish Twitter account"
      draggable={false}
      class="w-8 h-8 hover:scale-110 transition-transform duration-500 cursor-pointer"
    />
  </a>
</div>
