<h1
  id="title"
  class="text-8xl overflow-hidden z-10 font-semibold pointer-events-none text-center max-lg:text-6xl flex items-center justify-center fixed h-full w-full p-8"
>
  I'm feeling Nounish
</h1>

<style>
  h1 {
    font-family: "Londrina Solid", cursive;
  }
</style>
